<div class="container">
  <div class="row">
    <div class="col col-xs-12 col-sm-4 col-md-4 col-sm-offset-4">

      <h2>Edit your meal</h2>

      <%= simple_form_for(@meal) do |f| %>
      <%= f.input :name %>
      <%= f.input :description %>
      <%= f.input :category, collection: %w(Vietnamese Cantonese Roadkill Dutch Russian German American Canadian) %>
      <%= f.input :price, label: 'Price per person (¥)' %>
      <%= f.input :picture %>
      <%= f.input :picture_cache, as: :hidden %>
      <%= f.submit "Update meal", class: "btn-medium" %>
      <% end %>

    </div>
  </div>
</div>
